*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}
p{
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
}